<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>タスク編集ページ</title>
    <th:block th:fragment="head">
    </th:block>
</head>
<div layout:fragment="content">

<div class="container">
    <div class="py-5 text-center">
        <h2>タスク編集フォーム</h2>
    </div>
    <div layout:replace="~{task/taskForm::taskForm(actionUrl='/task/edit')}"></div>
</div>
</div>
</html>